.App-container {
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  background: rgb(24, 24, 24);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header h1 {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.datePicker {
  text-align: center;
  margin: 1rem auto;
  font-size: 1.5rem;
}

.image {
  max-width: 100%;
}

.nasaLogo {
  width: 100px;
}